<div class=" w-full h-full max-h-[500px] border border-base-300 rounded-lg p-2">
  <div class="flex w-full px-2 join border-0 justify-center">
    <button (click)="resetFilters()" class="btn btn-outline btn-neutral join-item">
      <i-tabler name="restore" />
    </button>
    <label class="input focus-within:outline-0 gap-0 join-item">
      <span (click)="apt_yearPicker.open()" class="h-full w-full grid place-items-center">
        {{ year }}
      </span>
      <input class="absolute opacity-0 -z-10" [matDatepicker]="apt_yearPicker" [matDatepickerFilter]="dateFilter"
        [(ngModel)]="yearControl">
      <mat-datepicker #apt_yearPicker startView="multi-year" (yearSelected)="onYearSelected($event, apt_yearPicker)"
        panelClass="year-only-picker">
      </mat-datepicker>
    </label>
    <!-- <label class="input focus-within:outline-0 gap-0 join-item">
      <span (click)="apt_monthPicker.open()" class="h-full w-full grid place-items-center">
        {{ monthNames[month] }}
      </span>
      <input class="absolute opacity-0 -z-10" [matDatepicker]="apt_monthPicker" [matDatepickerFilter]="dateFilter"
        [(ngModel)]="monthControl">
      <mat-datepicker #apt_monthPicker startView="year" (monthSelected)="onMonthSelected($event, apt_monthPicker)"
        panelClass="month-only-picker">
      </mat-datepicker>
    </label> -->
    <button (click)="applyFilters()" class="btn btn-outline btn-neutral join-item">
      <i-tabler name="check" />
    </button>
  </div>
  <div class="chart-container w-full h-[90%] relative">
    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'"> </canvas>
  </div>
</div>
