<div class="m-1">
  <ul class="list bg-base-100 rounded-box shadow-md gap-2">
    @defer (when !isFetching) {
    @for(appointment of appointments; track appointment){
    <li class="list-row rounded-lg border border-base-300 w-full flex flex-col" appointment-item (refetch)="loadAppointments()"
          [appointment]="appointment"
          [dateFilter]="dateFilter">
    </li>
    }@empty{

    <li class="list-row rounded-lg border border-base-300 w-full flex flex-col">
      <h3 class="w-full text-lg font-semibold">
            Pas de rendez-vous validé
      </h3>
    </li>
      }
    }
    @loading{
    <li class="list-row skeleton w-full ">
    </li>
    }
    @placeholder{
    <li class="list-row skeleton w-full ">
    </li>
    }
  </ul>

</div>
