<div class="m-1 w-full ">
  <div class="w-full grid grid-cols-3 gap-2">
    <div class="">
      <div>
        <div>
          {{ appointment.id_user.firstname }}
          {{ appointment.id_user.name | uppercase }}
        </div>
      </div>
      <div>
        {{ (appointment.date_appointment.valueOf()) | datetimeString}}
      </div>
    </div>
    <div class="flex flex-col">
      <div>
        Coût: <span class="text-accent">{{ appointment.total_price | currency:'Ar':'symbol':'1.2-2' }}</span>
      </div>
      <div>
        Durée: <span class="text-accent">{{ appointment.total_duration | minutesToHours}}</span>
      </div>
    </div>
    <div class="flex flex-col">
      <div>
        <span class="text-accent">{{ appointment.id_car.mark +" "+ appointment.id_car.model}}</span>
        ( {{ appointment.id_car.engine_fuel_Type}} )
      </div>
      <div>
        <span>{{ appointment.id_car.immatriculation }}</span>
      </div>
    </div>

  </div>
  <hr />
  <div class="mb-4">

    <h3 class="text-md text-center text-primary font-semibold mb-2">Services Inclus:</h3>
    <ul class="list w-full">
      <li *ngFor="let service of appointment.services" class="list-row grid grid-cols-3 justify-between">
        <div class="text-left text-accent">
          {{ service.service_name }}
        </div>
        <div class="text-info">
          {{service.time_needed | minutesToHours}} h
        </div>
        <div class="text-info">
          {{(service.need_mult ?
          service.unit_price.valueOf() *
          appointment.id_car.category_id.mult_price :
          service.unit_price.valueOf()) |
          currency:'Ar'}}
        </div>
      </li>
    </ul>
  </div>

</div>
