<!--
Button to create New employee
-->
<div class="collapse bg-base-100 border-base-300 border">
  <input type="checkbox" />
  <div class="collapse-title font-semibold">Ajouter un employé</div>
  <create-employee class="collapse-content text-sm bg-base-100" />
</div>
<div class=" overflow-x-auto rounded-box border border-base-content/5 bg-base-100 mt-2">
  <table class="table">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th>Date d'inscription</th>
        <th>Nom & Prénoms</th>
        <th>Role</th>
        <th>Date de naissance</th>
        <th>CIN</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      @for(employee of employees; track employee) {
      <tr app-employee-list-item [employee]="employee"></tr>
      }
    </tbody>

  </table>
</div>
