<label class="card border border-base-300 has-checked:border-primary has-checked:outline-0 grow p-2 w-full col-span-2">
  <div class="card-body py-2">
    <h2 class="card-title">{{vehicle.mark}}-{{vehicle.model}} ({{vehicle.engine_fuel_Type}})</h2>
    <span class="text-xl inline-flex text-center items-center gap-4 text-info">
      <i-tabler name="number" />
      {{vehicle.immatriculation}}
    </span>
    <p class="inline-flex gap-4 items-center"> <i-tabler name="armchair" /> {{vehicle.place_number}} places</p>
  </div>
</label>
