<title>Authentification | Connexion</title>


<div class="w-full h-screen flex bg-cover items-center">
  <div class="relative flex flex-wrap mx-4 justify-center w-full">
    <div class="inline-flex justify-center w-full h-full rounded-xl overflow-hidden drop-shadow-2xl">
      <mat-card class="w-full my-0 mx-auto flex flex-col">
        <mat-card-content class="p-10 w-full min-h-[70dvh] flex flex-col gap-4 justify-evenly">
          <div class="flex flex-row justify-between w-full items-center">

            <img src="./assets/images/logos/ReviveAuto-1.svg" class="align-middle m-2 aspect-square w-16" alt="logo" />

            <h1 class="mx-4 text-3xl font-bold text-primary">Se connecter!</h1>
          </div>
          <form class="flex flex-col justify-evenly h-full " (ngSubmit)="submit()" [formGroup]="form">
            <div>
              <label class="label m-2">Mail</label>
              <div
                class="rounded-xl w-full border border-slate-300 h-10 focus-within:outline focus-within:outline-primary">
                <input class="w-full focus:outline-0 h-full px-2" formControlName="mail" email />
              </div>
              @if (form.get('mail')?.invalid && (form.get('mail')?.dirty || form.get('mail')?.touched)) {
              <span class="text-error text-xs">
                @if (form.get('mail')?.hasError('required'))
                { Veuillez entrer votre email }
                @if (form.get('mail')?.hasError('email'))
                {Veuillez entrer un email valide}
                @if (form.get('mail')?.hasError('incorrect'))
                { Cet email n'est pas encore inscrit}
              </span>
              }
            </div>

            <div>
              <label class="label m-2">Mot de passe</label>
              <div class="rounded-xl w-full border border-slate-300 h-10 focus-within:outline
                focus-within:outline-primary">
                <input class="w-full focus:outline-0 h-full px-2" formControlName="password" type="password" />
              </div>
              @if (form.get('password')?.invalid && (form.get('password')?.dirty ||
              form.get('password')?.touched)) {
              <span class="text-error text-xs">
                @if (form.get('password')?.hasError('required')) {Veuillez inserer votre mot de passe}
                @if (form.get('password')?.hasError('incorrect')) {Le mot de passe est incorrect}
              </span>
              }

            </div>

            <hr class="" />
            <button type="submit" [disabled]="form.invalid || isSubmitting" class="btn btn-primary">
              @if(isSubmitting){
              <span class="loading loading-spinner loading-xl"></span>
              }@else{
              Se connecter
              }
            </button>
          </form>
          @if (data.roles[0] == 'role_002'){
          <a [routerLink]="['/register']" class="w-full link-secondary items-center align-middle text-center  ">
            Créer votre compte?
          </a>
          }
        </mat-card-content>
      </mat-card>
      <div class="p-10 hidden lg:block w-full bg-primary rounded-l-2xl">
      </div>


    </div>
  </div>
</div>
