<div class="dropdown dropdown-bottom dropdown-center md:dropdown-end">
  <div tabindex="0" role="button" class="indicator">
    <span *ngIf="unreadCount > 0" class="indicator-item badge badge-xs badge-info">
      {{ unreadCount }}
    </span>
    <div class="btn btn-ghost btn-circle">
      <i-tabler name="bell" />
    </div>
  </div>
  <div tabindex="0"
    class="tabs tabs-border tabs-top tabs-sm dropdown-content bg-base-200 border border-base-300 rounded-lg z-1 mt-3 shadow min-w-[90dvw] md:min-w-[50dvw] p-1">
    <input type="radio" name="notif_tabs" class="tab" aria-label="Non lus" checked />
    <div class="tab-content bg-base-100 border-base-300 p-2 rounded-lg">
      <ul class="list gap-2">
        @if( unreadCount > 0 ) {
        @for(notification of notifications ; track notification){
        @if(!notification.read)
        {
        <li class="px-2 inline-flex gap-2 w-full items-center">
          <div tabindex="0" class="collapse bg-base-100 border-base-300 border w-full h-full">
            <input type="checkbox" />
            <span class="collapse-title font-semibold w-full">{{ notification.title }}</span>
            <div class="collapse-content text-sm h-full">
              {{ notification.message }}
            </div>
          </div>
          <i-tabler class="btn btn-ghost aspect-square w-6 btn-circle float-end" name="eye"  (click)="onNotificationClick(notification)"/>
        </li>
        }
        }
        @empty{
        <li class="px-3 my-1 inline-flex items-center">
          <i-tabler name="x" /> Pas de notification
        </li>
        }
        }
        @else{
        <li class="px-3 my-1 inline-flex items-center">
          <i-tabler name="x" /> Pas de notification
        </li>
        }
      </ul>
    </div>

    <input type="radio" name="notif_tabs" class="tab" aria-label="Tous" />
    <div class="tab-content bg-base-100 border-base-300 p-2 rounded-lg">
      <ul class="list gap-2">
        @for(notification of notifications ; track notification){
        <li class="px-2 inline-flex w-full">
          <div tabindex="0" class="collapse bg-base-100 border-base-300 border w-full h-full">
            <input type="checkbox" />
            <span class="collapse-title font-semibold w-full">{{ notification.title }}</span>
            <div class="collapse-content text-sm h-full">
              {{ notification.message }}
            </div>
          </div>
        </li>
        }
        @empty{
        <li class="px-3 my-1 inline-flex items-center">
          <i-tabler name="x" /> Pas de notification
        </li>
        }
      </ul>
    </div>

  </div>
</div>
