<div class="navbar bg-base-100 shadow-sm ">
  <!-- Mobile Menu -->
  <div class="navbar-start">
    <button mat-icon-button (click)="toggleMobileNav.emit()" class="d-flex justify-content-center">
      <i-tabler class="iconify icon-20 d-flex" name="menu-2" />
    </button>
  </div>
  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

  <div class="navbar-end gap-3">
    <div class="btn-group w-fit join rounded-xl">
      <label for="light-theme" class="btn btn-md join-item relative ">
        <input id="light-theme" type="radio" name="theme-radios" value="bumblebee" class="peer hidden theme-controller">
        <i-tabler name="sun" class="peer-checked:text-primary" />
      </label>

      <label for="default-theme" class="btn btn-md join-item relative">
        <input id="default-theme" type="radio" name="theme-radios" value="default"
          class="peer hidden join-item radio-sm theme-controller" checked />
        <i-tabler name="device-laptop" class="peer-checked:text-primary" />
      </label>

      <label for="dark-theme" class="btn btn-md join-item relative">
        <input id="dark-theme" type="radio" name="theme-radios" value="dark"
          class="peer hidden radio-sm theme-controller" />
        <i-tabler name="moon" class="peer-checked:text-primary" />
      </label>
    </div>
    <div class="dropdown  dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <img src="/assets/images/profile/user-1.jpg" class="rounded-full aspect-square w-10" width="50" />
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-xl z-1 mt-3 w-52 p-2 shadow">
        <li class="px-3 mt-3">
          <button (click)="logout()" mat-stroked-button class="btn btn-soft w-full">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</div>
