@import "tailwindcss" important;

/* Chrome, Safari, Edge, Opera */
/* Remove arrows/spinners from number inputs globally */

@plugin "daisyui" {
  themes: bumblebee --default, dark --prefersdark, cupcake;
}


@plugin "daisyui/theme" {
  name: "bumblebee";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(42% 0.095 57.708);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(40% 0.123 38.172);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.01 67.558);
  --color-neutral-content: oklch(92% 0.003 48.717);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(39% 0.09 240.876);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(39% 0.141 25.723);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(12% 0.042 264.695);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(27% 0.041 260.031);
  --color-base-content: oklch(96% 0.007 247.896);
  --color-primary: oklch(79% 0.184 86.047);
  --color-primary-content: oklch(98% 0.026 102.212);
  --color-secondary: oklch(70% 0.213 47.604);
  --color-secondary-content: oklch(98% 0.016 73.684);
  --color-accent: oklch(65% 0.241 354.308);
  --color-accent-content: oklch(97% 0.014 343.198);
  --color-neutral: oklch(37% 0.044 257.287);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
}


.mat-datepicker-content {
  @apply rounded-lg shadow-lg bg-base-200;
}

.mat-calendar {
  @apply font-sans border border-base-300 bg-base-100 rounded-lg text-base-content;


  .mat-calendar-header {
    @apply font-sans p-0;

    .mat-calendar-controls {
      @apply font-sans my-0.5;
    }

  }

}

.mat-calendar-body-active {
  .mat-calendar-body-selected {
    @apply rounded-lg bg-primary text-primary-content;
  }
}

.mat-calendar-body-today {
  @apply rounded-lg border border-secondary;
}

.mat-calendar-body-disabled {
  @apply opacity-20 cursor-not-allowed;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  @apply bg-primary;
}

.mat-calendar-header {
  @apply bg-base-100 text-base-content;
}

.mat-calendar-body-label,
.mat-calendar-period-button,
.mat-calendar-next-button,
.mat-calendar-previous-button {
  @apply text-base-content;
}

.mat-calendar-table-header {
  @apply text-base-content/70;
}

.mdc-button__label {
  @apply text-base-content;
}

.mat-calendar-body-cell-content:not(.mat-calendar-body-today) {
  @apply text-base-content rounded-lg border-base-200;
}

/* Range styling */
.range-start {
  @apply bg-primary text-primary-content rounded-full;
}

.range-end {
  @apply bg-primary text-primary-content rounded-full;
}

.in-range {
  @apply bg-primary/20;

  &.mat-calendar-body-cell-content {
    @apply rounded-none;
  }
}

.mat-datepicker-toggle {
  @apply text-primary;
}

/* Add this to your global styles.css or styles.scss */
.cdk-overlay-container {
  z-index: 9999 !important;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

/* Make sure the modal doesn't create a new stacking context */
.modal-box {
  transform: none !important;
}

.mat-timepicker-panel {
  @apply bg-base-100 rounded-lg border border-base-300;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  @apply border border-primary rounded-lg;
}

.sidebar-list {

  &.mdc-list {
    @apply px-0 py-5;

    .sub-item-icon {
      @apply w-4 h-4 opacity-80 me-3;
    }

    .mdc-list-group__subheader {
      @apply m-0 font-semibold py-2 px-0 leading-6;

      .caption-icon {
        @apply hidden;
      }

      .caption-text {
        @apply inline;
      }
    }

    .sidebar-divider {
      @apply h-[1px] w-[calc(100%-4rem)] block mx-3 my-0 ml-2 border-secondary;

      &.lg {

        @apply w-[calc(100%-2rem)] ml-4;
      }
    }

    .menu-list-item {

      @apply hover:before:bg-transparent;

      &:hover {
        &.mdc-list-item__primary-text {
          @apply text-primary;
        }

        &.mat-mdc-list-item-icon {
          @apply text-primary;
        }
      }

      @apply rounded-xl h-11 px-3 py-4 mb-1 w-full;

      &.twoline {
        @apply h-16 items-center;
      }

      @apply before:z-[-1] focus:z-[-1];

      &.disabled {
        @apply opacity-40;
      }

      .item-chip {
        @apply h-4 flex items-center justify-center text-xs;
      }

      &.activeMenu {
        @apply bg-primary/15;

        .mdc-list-item__primary-text {
          @apply text-primary;
        }

        .mat-mdc-list-item-icon {
          @apply text-primary;
        }
      }

      .mdc-list-item__start {
        @apply mr-3 ml-0 w-5 leading-0 fill-transparent;
      }

      .mdc-list-item__primary-text {
        @apply flex items-center justify-between;

        .arrow-icon {
          @apply flex;

          .mat-icon {
            @apply text-lg aspect-square w-5 flex items-center justify-center;
          }
        }
      }
    }
  }
}

input[type="number"] {
  appearance: none;
  -moz-appearance: none !important;
  /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none !important;
  -webkit-appearance: none !important;
  /* WebKit browsers (Chrome, Safari) */
  margin: 0 !important;
  /* Optional: Remove extra spacing */
}
